.card {
  margin: 0 auto;
  padding: 10px;
  float: none;
  margin-top: 20px;
}

#dialer {
  display: none;
}

#phone {
  display: none;
}

#dialer .unhold, #dialer .hold, #dialer .mute, #dialer .unmute, #dialer .merge, #dialer .unmerge, #dialer .atxfer, #dialer .transfer {
  display: none;
}

#dialers .card {
  width: 500px !important;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#full-name {
  font-size: 18px;
  padding-top: 5px;
  text-align: center;
}

input.login {
    margin-bottom: 10px;
    color: #515454 !important;
    background-color: transparent !important;
    border: #515454 solid 1px !important;
}

::placeholder {
  color: #515454 !important;
}

.btn-primary:active,
.btn-primary.hover,
.btn-primary:hover {
    background: #eebf3f !important;
    border-color: #eebf3f !important;
}

.btn-flat {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    background: #515454;
    border:0;
}

.center {
    margin: auto;
    width: 70%;
    margin-top: 80px;
}

.one {
    background: #fff;
    z-index: 10;
}

.two {
    background: #98c451;
}

.btn {
    margin-top: 20px;
}

.wazo-logo {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
}

.alert {
    margin-top: 40px;
}

.background {
    width: auto;
    height: 100vh;
    margin-left: -120px;
}

.col {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#phone {
  padding-top: 5rem;
}

.bg-wazo {
  background-color: #98c451;
}
