/* RESPONSIVE ELEMENTS */
@media screen and (min-width: 300px) {
  .auth-display { 
    display: flex;
    flex-direction: column;
  }

  .one {
    width: 100%;
  }

  .two {
    width: 100%;
  }

  .mini-dialer > input {
    width: 100px !important;
    height: 40px !important;
  }

  .mini-dialer {
    margin-left: 2rem !important;
  }

  .actions-btns {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
  }

  .actions-btns > img {
    width: 15px;
    height: 15px;
    margin: 0;
  }

  .hangup > img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }

  .subtitle {
    font-size: 0.5rem;
    color: #fff;
  }
}

@media screen and (min-width: 700px) {
  .auth-display { 
    display: flex;
    flex-direction: row;
  }

  .one {
    width: 30%;
  }

  .two {
    width: 70%;
  }

  .mini-dialer > input {
    width: 220px !important;
    height: 40px !important;
  }

  .mini-dialer {
    margin-left: 0 !important;
  }

  .actions-btns {
    width: 70px;
    height: 70px;
  }

  .actions-btns > img {
    width: 30px;
    height: 30px;
  }

  .hangup > img {
    width: 35px;
    height: 35px;
    padding-right: 0;
  }

  .subtitle {
    font-size: 0.8rem;
    color: #fff;
  }

}

/* DISPLAY NONE */
#root-scene {
  display: none;
}

#phone {
  display: none;
}

#root-scene .unhold, #root-scene .hold, #root-scene .mute, #root-scene .unmute, #root-scene .merge, #root-scene .unmerge, #root-scene .atxfer, #root-scene .transfer, #root-scene .video-call, #root-scene .expand, #root-scene .reduce, #root-scene video  {
  display: none;
}

/* MAIN */

.credits {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: #98c451;
}

.btn {
  text-transform: uppercase;
}

.btn-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background: #515454;
  border: 0;
}

.bg-success:hover {
  background: #fff;
}

.alert {
  font-size: 12px;
  color: #e21b1b;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.background {
  width: auto;
  height: 100vh;
}

.col {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#authentication {
  display: none;
}

/* LOADER */

@keyframes loading {
  0% {
    opacity: 0.5;
  } 25% {
    opacity: 1;
  } 50% {
    opacity: 0.5;
  } 75% {
    opacity: 1;
  } 100% {
    opacity: 0.5;
  }
}

#loader {
  position : fixed;
  z-index: 9999;
  background: url('img/dawn.svg'), #604554;
  background-size: cover;
  top : 0;
  left : 0;
  height : 100%;
  width : 100%;
  cursor : wait;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loader img {
  width: 400px;
  margin-bottom: 2rem;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#loader p {
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* LOGIN */

/* LOGIN left part */

.one {
  background: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.wazo-logo {
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
}

label {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 12px;
}

input.login {
  color: #515454 !important;
  background-color: transparent !important;
  border: none;
  border-bottom: #515454 solid 1px;
  font-size: 16px;
}

.onalert {
  border-bottom: #e21b1b solid 1px !important;
}

.onerror {
  color: #e21b1b;
}

input.login:focus {
  outline: none;
  border-bottom: 2px solid #98c451;
}

::placeholder {
  color: #515454;
  font-style: italic;
}

#submit-login {
  margin-top: 1rem;
  border: 2px solid #98c451;
  color: #98c451;
  box-shadow: inset 0px 0px 0px 0px #98c451;
  font-weight: bold;
  transition: box-shadow 1s, color 0.6s;
}

#submit-login:hover {
  color: #fff;
  box-shadow: inset 0px 50px 0px 0px #98c451;
  transition: box-shadow 0.5s, color 0.3s;
}

/* LOGIN right part */

.two {
  background-image: url('img/dawn.svg');
  background-size: cover;
  display: grid;
  place-items: center;
}

.right-content {
  display: flex;
  justify-content: center;
}

.learn-more {
  width: 200px;
  border: 2px solid #febe52;
  color: #febe52;
  box-shadow: inset 0px 0px 0px 0px #febe52;
  font-weight: bold;
  transition: box-shadow 1s, color 0.6s;
}

.learn-more > a {
  text-decoration: none;
}

.learn-more:hover {
  color: #fff;
  box-shadow: inset 0px 50px 0px 0px #febe52;
  transition: box-shadow 0.5s, color 0.3s;
}

/* PHONE */

.card {
  margin: 0 auto;
  padding: 10px;
  float: none;
}

main {
  background: url("img/day.svg"), #034f49;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  background: rgba(0,0,0, 0.6);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-page {
  background: rgba(0,0,0, 0.6);
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.isVideo .call-page {
  justify-content: flex-end;
  background: transparent;
}

#status {
  color: #98c451;
  font-style: italic;
  margin-top: 4px;
}

.timer {
  color: #fff;
  font-size: 12px;
  opacity: .5;
} 

.oncall {
  font-size: 2.5rem;
  font-style: normal !important;
  color: #fff !important;
  top: 3rem;
  z-index: 5;
}

/* PHONE header */

.navbar {
  background: #034f49;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}

#logout {
  text-decoration: none;
  color: #98c451;
  font-weight: bold;
  border-bottom: none;
  display: flex;
  align-items: center;
  width: 5rem;
}

#logout > div {
  position: absolute;
  padding-left: 7rem;
  transition: padding-left 0.3s;
}

#logout:hover > div {
  padding-left: 2rem;
  transition: padding-left 0.5s;
}

#logout > svg {
  margin-left: 3rem;
  transform: rotate(0deg);
  color: #fff;
  transition: transform 1s, color 0.5s;
}

#logout:hover > svg {
  transform: rotate(-360deg);
  color: #034f49;
  transition: transform 0.5s, color 0.7s;
}

/* PHONE dialer */

.dialer-btn, .call-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1rem;
  border: 1px solid #98c451;
  box-shadow: inset 0 0 0 1px #98c451;
  transition: box-shadow 1.3s;
}

.dialer-btn:hover, .call-btn:hover {
  box-shadow: inset 0 0 0 70px #98c451;
  transition: box-shadow 1s;
}

.btn-reject {
  border-radius: 50%;
  border: 1px solid red;
  box-shadow: inset 0 0 0 1px red;
  transition: box-shadow 1.3s;
}

.reject-call {
  width: 70px;
  height: 70px;
}

.btn-reject:hover {
  box-shadow: inset 0 0 0 70px red;
  transition: box-shadow 1s;
}

.blue-btn {
  border: 1px solid rgb(70, 217, 243);
  box-shadow: inset 0 0 0 1px rgb(70, 217, 243);
  transition: box-shadow 1.3s;
}

.blue-btn:hover {
  box-shadow: inset 0 0 0 70px rgb(70, 217, 243);
  transition: box-shadow 1s;
}

.orange-btn {
  border: 1px solid rgb(252, 183, 79);
  box-shadow: inset 0 0 0 1px rgb(252, 183, 79);
  transition: box-shadow 1.3s;
}

.orange-btn:hover {
  box-shadow: inset 0 0 0 70px rgb(252, 183, 79);
  transition: box-shadow 1s;
}

.number {
  background: #000;
  border: none;
  width: 345px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
}

.number:focus {
  background: #000;
  border: 1px solid #98c451;
  color: #fff;
  outline: none;
}

#dialer > label {
  color: #fff;
  font-weight: lighter;
  padding-bottom: 2rem;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#dialer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 398px;
  height: 341px;
  background: rgba(0,0,0,0.8);
  padding: 2rem 2rem 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-out;
}

.greeter {
  color: #fff;
  font-size: 32px;
  text-align: left;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.call-commands {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}

/* PHONE incoming call */

.modal-content {
  display: fixed;
  border-radius: 10px;
  top: 28vh;
  background:rgba(0,0,0, 0.6);
  color: #fff;
}

.modal-header {
  display: flex;
  justify-content: center;
  border: none;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.name-called {
  font-style: italic;
}

/* CALLS HANDLER */

#calls-handler {
  position: absolute;
  left: 1rem;
  top: 5rem;
  z-index: 10;
}

.switch-btn {
  border: 1px solid #98c451;
  color: #98c451;
  box-shadow: inset 0px 0px 0px 0px #98c451;
  transition: box-shadow 0.5s, color 0.3s;
}

.switch-btn:hover {
  color: rgb(46, 44, 41);
  box-shadow: inset 0px 50px 0px 0px #98c451;
  transition: box-shadow 0.5s, color 0.3s;
}

.active {
  background: #98c451;
  color: rgb(46, 44, 41);
}

/* VIDEO */ 

.remote,
.local {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remote ,
.local {
  background: rgba(0,0,0, .8);
  overflow: hidden;
  line-height: 0;
}

.local {
  border-radius: 15px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 999;
}

.remote {
  flex: 3 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remote {
  flex: 1 25%;
}

.local video {
  width: 200px;
  height: auto;
}

.local .buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.remote video {
  width: 100vw;
  height: 100vh;
}

.videos {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

video {
  object-fit: contain;
}

.expand-video {
  object-fit: cover;
}

.background-videocall {
  background: rgba(0,0,0, 0.6);
  height: 100vh;
  width: 100vw;
}

.on-videocall {
  font-size: 1.5rem;
  font-style: normal !important;
  color: #fff !important;
  z-index: 5;
  top: 28rem;
}

.local-btns {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h3.contact {
  color: #fff;
  text-align: center;
}

/* INDIRECT TRANSFER */

#indirect-transfer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 320px;
  border-radius: 20px;
  background-color: rgba(71, 71, 71, 0.6);
}

#indirect-transfer button {
  margin: 1rem;
  font-weight: bold;
}

#indirect-transfer-cancel {
  border: 1px solid #e21b1b;
  color: #e21b1b;
  box-shadow: inset 0px 0px 0px 0px #e21b1b;
  transition: box-shadow 1.5s, color 1s;
}

#indirect-transfer-cancel:hover {
  border: 1px solid #e21b1b;
  color: #e21b1b;
  box-shadow: inset 100px 0px 0px 0px #e21b1b;
  color: #fff;
  transition: box-shadow 0.5s, color 0.3s;
}

#indirect-transfer-complete {
  border: 1px solid #98c451;
  color: #98c451;
  box-shadow: inset 0px 0px 0px 0px #98c451;
  transition: box-shadow 1.5s, color 1s;
}

#indirect-transfer-complete:hover {
  border: 1px solid #98c451;
  color: #98c451;
  box-shadow: inset 100px 0px 0px 0px #98c451;
  color: #fff;
  transition: box-shadow 0.5s, color 0.3s;
}

/* ON CALL DIALER */

.mini-dialer {
  height: 50px !important;
  top: 32px !important;
  z-index: 10000 !important;
  flex-direction: row !important;
  padding: 0px !important;
  background: transparent !important;
}

.mini-dialer > .buttons {
  display: flex !important;
}

.mini-btns {
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  margin: 10px;
  transition: width 0.2s, height 0.2s;
}

.mini-btns > img {
  width: 20px !important;
  height: 20px !important;
  transition: width 0.2s, height 0.2s;
}

.hidden {
  display: none !important;
}

/* RINGING & LOADING ANIMATION */

#ringing {
  margin: auto;
  z-index: 9999;
  display: none;
}

#ringing .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  animation: wave 2s ease-in-out infinite;
  background: #fff;
}

#ringing .dot:nth-child(2) {
  animation-delay: -1.8s;
}

#ringing .dot:nth-child(3) {
  animation-delay: -1.6s;
}

#loading {
  display: flex;
}

#load-animation {
  z-index: 9999;
  margin-left: 1rem;
}

#load-animation  .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  animation: wave 1.3s ease-in-out infinite;
  background: #fff;
}

#load-animation  .dot:nth-child(2) {
  animation-delay: -1.1s;
}

#load-animation  .dot:nth-child(3) {
  animation-delay: -0.9s;
}

#reaching-number {
  z-index: 9999;
}

#reaching-number .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  animation: wave 1.3s ease-in-out infinite;
  background: #98c451;
}

#reaching-number .dot:nth-child(2) {
  animation-delay: -1.1s;
}

#reaching-number .dot:nth-child(3) {
  animation-delay: -0.9s;
}

#login-animation {
  display: none;
}

#login-animation .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  animation: wave 1.3s ease-in-out infinite;
  background: #98c451;
}

#login-animation .dot:nth-child(2) {
  animation-delay: -1.1s;
}

#login-animation .dot:nth-child(3) {
  animation-delay: -0.9s;
}

/* DOTS WAVE ANIMATION */
@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-5px);
  }
}