.card {
  margin: 0 auto;
  padding: 10px;
  float: none;
}

#dialer {
  display: none;
}

#phone {
  display: none;
}

#dialer .unhold, #dialer .hold, #dialer .mute, #dialer .unmute, #dialer .merge, #dialer .unmerge, #dialer .atxfer, #dialer .transfer, #dialer .video-call, #dialer video  {
  display: none;
}

#logout {
  text-decoration: none;
  text-transform: uppercase;
  color: #515454;
  font-weight: bold;
  position: absolute;
  right: 2rem;
}

#logout:hover {
  color: #fff;
}

label {
  color: #fff;
  padding-bottom: 2rem;
}

.form-control {
  background: #515454;
  border: none;
}

.form-control:focus {
  background: none;
  color: #fff;
  border: 1px solid #98c451;
}

video.local {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin-right: 30px;
}

video.remote {
  display: block;
  width: 200px;
  height: 200px;
}

.videos {
  overflow: auto;
}

#dialers .card {
  width: 100vw !important;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0);
  left: 0;
  top: 2.5rem;
}

.main-dialer {
  width: 25rem;
  height: 20rem;
  border: none;
  background: rgba(0,0,0,0.8);
}

.greeter {
  color: #fff;
  font-size: 2rem;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#full-name {
  font-size: 18px;
  padding-top: 5px;
  text-align: center;
}

input.login {
    margin-bottom: 10px;
    color: #515454 !important;
    background-color: transparent !important;
    border: #515454 solid 1px !important;
}

::placeholder {
  color: #373a3a !important;
}

.actions-btns {
  background: #98c451;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-primary:active,
.btn-primary.hover,
.btn-primary:hover {
    background: #eebf3f !important;
    border-color: #eebf3f !important;
}

.btn-flat {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    background: #515454;
    border:0;
}

.center {
    margin: auto;
    width: 70%;
    margin-top: 80px;
}

.one {
    background: #fff;
    z-index: 10;
}

.two {
    background: #98c451;
}

.btn {
    margin-top: 20px;
}

.wazo-logo {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
}

.alert {
    margin-top: 40px;
}

.background {
    width: auto;
    height: 100vh;
    margin-left: -120px;
}

.col {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.bg-wazo {
  background-color: #98c451;
}

main {
  background-image: url("./img/back.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
}